In [1]:
bird = {}

In [2]:
print(bird)

{}

In [5]:
bird = dict([('name','Crowbro'),('breed','Crow'),('legs',2),('age',4)])

In [6]:
print(bird)

{'name': 'Crowbro', 'breed': 'Crow', 'legs': 2, 'age': 4}

In [7]:
student = {
    "first_name" : 'Tejash',
    "last_name" : 'Katuwal',
    "gender" : 'Male',
    "age" : 22,
    "martial_status" : 'Unmarried',
    "skills" : ['Python','Oracle','SQL'],
    "Country" : 'Nepal',
    "City" : 'Imadol',
    "address" : 'Mahalaxmisthan'
} 

print(student)

{'first_name': 'Tejash', 'last_name': 'Katuwal', 'gender': 'Male', 'age': 22, 'martial_status': 'Unmarried', 'skills': ['Python', 'Oracle', 'SQL'], 'Country': 'Nepal', 'City': 'Imadol', 'address': 'Mahalaxmisthan'}

In [8]:
print(len(student))

9

In [9]:
print(student['skills'])

['Python', 'Oracle', 'SQL']

In [10]:
print(type(student['skills']))

<class 'list'>

In [11]:
student['skills'].append('C')

In [12]:
print(student)

{'first_name': 'Tejash', 'last_name': 'Katuwal', 'gender': 'Male', 'age': 22, 'martial_status': 'Unmarried', 'skills': ['Python', 'Oracle', 'SQL', 'C'], 'Country': 'Nepal', 'City': 'Imadol', 'address': 'Mahalaxmisthan'}

In [13]:
print(student.keys())
print(student.values())

dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial_status', 'skills', 'Country', 'City', 'address'])
dict_values(['Tejash', 'Katuwal', 'Male', 22, 'Unmarried', ['Python', 'Oracle', 'SQL', 'C'], 'Nepal', 'Imadol', 'Mahalaxmisthan'])

In [14]:
print(student.items())

dict_items([('first_name', 'Tejash'), ('last_name', 'Katuwal'), ('gender', 'Male'), ('age', 22), ('martial_status', 'Unmarried'), ('skills', ['Python', 'Oracle', 'SQL', 'C']), ('Country', 'Nepal'), ('City', 'Imadol'), ('address', 'Mahalaxmisthan')])

In [15]:
print(student.pop('martial_status'))

Unmarried

In [16]:
print(student)

{'first_name': 'Tejash', 'last_name': 'Katuwal', 'gender': 'Male', 'age': 22, 'skills': ['Python', 'Oracle', 'SQL', 'C'], 'Country': 'Nepal', 'City': 'Imadol', 'address': 'Mahalaxmisthan'}

In [17]:
del bird

In [18]:
print(bird)

NameError: name 'bird' is not defined