In [1]:
mix_fruits = {'Guava', 'Pear', 'Mango', 'Apple', 'Fig', 'Orange', 'Banana'}
print(mix_fruits)

{'Guava', 'Mango', 'Pear', 'Orange', 'Apple', 'Fig', 'Banana'}

In [2]:
mix_fruits.add('kiwi')

In [3]:
print(mix_fruits)

{'Guava', 'Mango', 'kiwi', 'Pear', 'Orange', 'Apple', 'Fig', 'Banana'}

In [6]:
mix_fruits.add('cherry'),mix_fruits.add('Papaya')

(None, None)

In [7]:
print(mix_fruits)

{'cherry', 'Guava', 'Papaya', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana', 'Mango', 'kiwi'}

In [8]:
mix_fruits.discard('Papaya')

In [9]:
print(mix_fruits)

{'cherry', 'Guava', 'Apple', 'Pear', 'Fig', 'Orange', 'Banana', 'Mango', 'kiwi'}

remove() - Removes the member from the set and if the member is not present it raises a key error whereas discard() - removes the member from the set and does nothing if the member is not present in the set.

In [10]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

In [11]:
A_or_B = A|B
print(A_or_B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [12]:
A_and_B = A & B
print(A_and_B)

{19, 20, 22, 24, 25, 26}

In [14]:
subset = (A<=B)
print(subset)

True

In [16]:
print(A.isdisjoint(B))

False

In [17]:
A_or_B = A|B
print(A_or_B)
B_or_A = B|A
print(B_or_A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [18]:
symmetric =  A^B
print(symmetric)

{27, 28}

In [19]:
del A
del B

In [20]:
print(A)

NameError: name 'A' is not defined

In [21]:
print(B)

NameError: name 'B' is not defined

In [22]:
num = [22, 19, 24, 25, 26, 24, 25, 24]

In [23]:
num_set = set(num)

In [24]:
print(num_set)

{19, 22, 24, 25, 26}

In [27]:
print(len(num)) 
print(len(num_set))

8
5

In [28]:
len(num) > len(num_set)

True

LIST IS BIGGER BECAUSE SET DOES NOT TAKE DUPLICATE VALUES.

LIST, SET AND DICTIONARY ARE MUTABLE BUT TUPLE IS UNMUTABLE.

LIST , TUPLE AND DICTIONARY TAKES DUPLICATE VALUES BUT SET DOES NOT.

DICTIONARY HAS KEY VALUE PAIRS.

LIST IS USED TO RECORD SIMILAR ITEMS.

TUPLE IS USED TO STORE DIFFERENT TYPES OF ITEMS.

In [30]:
string = 'I am a researcher cum teacher and I love to inspire and teach people.'
print(len(string))

69

In [36]:
str_list=string.split(' ')

In [37]:
print(str_list)

['I', 'am', 'a', 'researcher', 'cum', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']

In [38]:
str_set = set(str_list)

In [39]:
print(str_set)

{'a', 'love', 'researcher', 'teach', 'people.', 'I', 'teacher', 'to', 'and', 'inspire', 'cum', 'am'}

In [40]:
print(len(str_set))

12